/**
 * MediaWiki style sheet for general styles on basic content elements
 *
 * copied over from resources/src/mediawiki.skinning/
 * 
 * adaptation: removed stylings for almost everything
 */

/* Inline Elements */
img {
	border: none;
	vertical-align: middle;
}

hr {
	height: 1px;
	color:  #dbdbdb;
	background-color: #dbdbdb;
	border: 0;
	margin: .5em 0;
}

pre, code, tt, kbd, samp, .mw-code {
	/*
	 * Some browsers will render the monospace text too small, namely Firefox, Chrome and Safari.
	 * Specifying any valid, second value will trigger correct behavior without forcing a different font.
	 */
	font-family: monospace, Courier;
}

code {
	color: black;
	background-color: #f2f2f2;
	border: 1px solid #dbdbdb;
	border-radius: 2px;
	padding: 1px 4px;
}

pre, .mw-code {
	color: black;
	background-color: #f2f2f2;
	border: 1px solid #dbdbdb;
	padding: 1em;
}

/* Emulate Center */
.center {
	width: 100%;
	text-align: center;
}

*.center * {
	margin-left: auto;
	margin-right: auto;
}

/* Small for tables and similar */
.small {
	font-size: 94%;
}

table.small {
	font-size: 100%;
}

/* UL LI not so special style */
.mw-content-ltr ul, 
.mw-content-rtl .mw-content-ltr ul {
	margin: .5em 0 .6em 2.1em;
	list-style: none;
}
.mw-content-ltr ul>li:before, 
.mw-content-rtl .mw-content-ltr ul>li:before {
	content: '\25a0';
	padding-right: 0.75rem;
	color: #01295c;
}
.mw-content-ltr ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ul li:before,
.mw-content-ltr ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ul li:before {
	content: '\1f790';
	padding-right: 0.75rem;
	color: #01295c;
}
.mw-content-ltr ul li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ul li ul li:before,
.mw-content-ltr ul li ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ol li ul li:before,
.mw-content-ltr ol li ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ol li ul li:before,
.mw-content-ltr ol li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ul li ul li:before {
	content: '\23fa';
	padding-right: 0.75rem;
	color: #298596;
}
.mw-content-ltr ul li ul li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ul li ul li ul li:before,
.mw-content-ltr ul li ol li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ol li ul li ul li:before,
.mw-content-ltr ol li ol li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ol li ul li ul li:before,
.mw-content-ltr ol li ul li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ul li ul li ul li:before,

.mw-content-ltr ul li ul li ol li ul li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ul li ol li ul li:before,
.mw-content-ltr ul li ol li ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ul li ol li ol li ul li:before,
.mw-content-ltr ol li ol li ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ol li ol li ul li:before,
.mw-content-ltr ol li ul li ol li ul li:before, 
.mw-content-rtl .mw-content-ltr ol li ul li ol li ul li:before {
	content: '\1f786';
	padding-right: 0.75rem;
	color: #298596;
}

/* OL LI special style */
.mw-content-ltr li:before,
.mw-content-rtl .mw-content-ltr li:before, {
	color: #298596;
	font-weight: 600;
}
.mw-content-ltr ol,
.mw-content-rtl .mw-content-ltr ol {
	padding: 0;
	counter-reset: li-counter;
	margin: 2em 0 1em 4em;
	list-style-type: none;
}
.mw-content-ltr ol>li ,
.mw-content-rtl .mw-content-ltr ol>li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 1.5em;
    min-height: 3em;
}
.mw-content-ltr ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li:before {
    position: absolute;
    top: -4px;
    left: -1.33em;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.5rem;
    line-height: 2.7rem;
    text-align: center;
	color: #f5f5f5;
	border-radius: 50%;
	background-color: #4ea2ad;
	content: counter(li-counter);
	counter-increment: li-counter;
	font-weight: 600;
}
/* Second Level */
.mw-content-ltr ol>li>ol,
.mw-content-ltr ul>li>ol,
.mw-content-ltr ol>li>ol>li>ol,
.mw-content-ltr ul>li>ul>li>ol,
.mw-content-ltr ol>li>ul>li>ol 
.mw-content-rtl .mw-content-ltr ol>li>ol,
.mw-content-rtl .mw-content-ltr ul>li>ol,
.mw-content-rtl .mw-content-ltr ol>li>ol>li>ol,
.mw-content-rtl .mw-content-ltr ul>li>ul>li>ol,
.mw-content-rtl .mw-content-ltr ol>li>ul>li>ol {
	padding: 0;
	counter-reset: li-counter;
	margin: 0.75em 0 0.6em 2em;
	list-style-type: none;
}
.mw-content-ltr ol>li>ol>li,
.mw-content-ltr ul>li>ol>li,
.mw-content-ltr ol>li>ol>li>ol>li,
.mw-content-ltr ul>li>ul>li>ol>li,
.mw-content-ltr ol>li>ul>li>ol>li, 
.mw-content-rtl .mw-content-ltr ol>li>ol>li,
.mw-content-rtl .mw-content-ltr ul>li>ol>li,
.mw-content-rtl .mw-content-ltr ol>li>ol>li>ol>li,
.mw-content-rtl .mw-content-ltr ul>li>ul>li>ol>li,
.mw-content-rtl .mw-content-ltr ol>li>ul>li>ol>li {
    position: initial;
    margin-bottom: initial;
    padding-left: initial;
    min-height: initial;
}
.mw-content-ltr ol>li>ol>li:before,
.mw-content-ltr ul>li>ol>li:before,
.mw-content-ltr ol>li>ol>li>ol>li:before,
.mw-content-ltr ul>li>ul>li>ol>li:before,
.mw-content-ltr ol>li>ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ol>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ul>li>ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ul>li>ol>li:before {
    position: initial;
    top: initial;
    left: initial;
    width: initial;
    height: initial;
    font-size: initial;
    line-height: initial;
    text-align: initial;
	color: #298596;
	border-radius: initial;
	background-color: initial;
	content: counter(li-counter, lower-alpha);
	counter-increment: li-counter;
	font-weight: 600;
	padding-right: 1rem;
}
.mw-content-ltr ol>li>ol>li:before,
.mw-content-ltr ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ul>li>ol>li:before  {
	content: counter(li-counter, lower-alpha);
}
.mw-content-ltr ol>li>ol>li>ol>li:before,
.mw-content-ltr ul>li>ul>li>ol>li:before,
.mw-content-ltr ol>li>ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ol>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ul>li>ul>li>ol>li:before,
.mw-content-rtl .mw-content-ltr ol>li>ul>li>ol>li:before {
	content: counter(li-counter, lower-roman);
}