/**
 * MediaWiki style sheet for common core styles on interfaces
 *
 * copied over from resources/src/mediawiki.skinning/
 * 
 * adaptation: none
 */

/* Categories */
.catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}

.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}

#siteNotice {
	position: relative;
	text-align: center;
	margin: 0;
}

#localNotice {
	margin-bottom: 0.9em;
}

.firstHeading {
	margin-bottom: 3rem;
	/* These two rules hack around bug 2013 (fix for more limited bug 11325).
	 * When bug 2013 is fixed properly, they should be removed. */
	line-height: 1.2em;
	padding-bottom: 0;
}

/* Sub-navigation */
#siteSub {
	display: none;
}

#jump-to-nav {
	/* Negate #contentSub's margin and replicate it so that the jump to links don't affect the spacing */
	margin-top: -1.4em;
	margin-bottom: 1.4em;
}

#contentSub,
#contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #545454;
	width: auto;
}

span.subpages {
	display: block;
}

/* TAINACAN SPECIFIC STYLES --------------------------*/
/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #01295c;
	font-weight: 600;
}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
.firstHeading {
	text-align: left;
}

/* Navbar */
.navbar {
	box-shadow: none;
	background-image: none;
	background-color: white;
	border-bottom: 1px solid #cbcbcb;
}
.navbar-brand img {
    height: 32px;
    margin-top: -6px;
}

/* Input */
input,
input.form-control {
	box-shadow: none;
}
input:focus,
input.form-control:focus {
	box-shadow: none;
}
#searchInput:focus {
	border-right: none;
}

/* Buttons */
.btn {
	text-shadow: none;
	box-shadow: none;
	border-radius: 6px;
	cursor: pointer;
}
.btn-primary, 
.btn-primary:hover,
.btn-primary:focus {
	background-image: none;
	border: none;
}
.btn-search-input {
	border: 1px solid #dbdbdb;
	border-radius: 0;
	border-left: none;
}
#searchInput:focus+.input-group-btn>.btn-search-input {
	border: 1px solid #555758;
	border-left: none;
	color: #01295c;
}

.page-header {
	border-bottom: none;
}