/**
 * MediaWiki style sheet for common core styles on interfaces
 *
 * copied over from resources/src/mediawiki.skinning/
 * 
 * adaptation: none
 */

/* Categories */
.catlinks {
	border: 1px solid #aaa;
	background-color: #f9f9f9;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}

.usermessage {
	background-color: #ffce7b;
	border: 1px solid #ffa500;
	color: black;
	font-weight: bold;
	margin: 2em 0 1em;
	padding: .5em 1em;
	vertical-align: middle;
}

#siteNotice {
	position: relative;
	text-align: center;
	margin: 0;
}

#localNotice {
	margin-bottom: 0.9em;
}

.firstHeading {
	margin-bottom: 3rem;
	/* These two rules hack around bug 2013 (fix for more limited bug 11325).
	 * When bug 2013 is fixed properly, they should be removed. */
	line-height: 1.2em;
	padding-bottom: 0;
}

/* Sub-navigation */
#siteSub {
	display: none;
}

#jump-to-nav {
	/* Negate #contentSub's margin and replicate it so that the jump to links don't affect the spacing */
	margin-top: -1.4em;
	margin-bottom: 1.4em;
}

#contentSub,
#contentSub2 {
	font-size: 84%;
	line-height: 1.2em;
	margin: 0 0 1.4em 1em;
	color: #545454;
	width: auto;
}

span.subpages {
	display: block;
}

/* TAINACAN SPECIFIC STYLES --------------------------*/
/* Headings */
h1, h2, h3, h4, h5, h6 {
	color: #01295c;
	font-weight: 600;
}
h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 28px;
	margin-bottom: 12px;
}
.firstHeading {
	text-align: left;
	border-bottom: 2px solid #298596;
}

/* Navbar */
.navbar {
	box-shadow: none;
	background-image: none;
	background-color: white;
	border-bottom: 1px solid #cbcbcb;
}
.navbar-brand img {
    height: 30px;
    margin-top: -5px;
}

/* Input */
input,
input.form-control {
	box-shadow: none;
}
input:focus,
input.form-control:focus {
	box-shadow: none;
}
#searchInput:focus {
	border-right: none;
}

/* Buttons */
.btn {
	text-shadow: none;
	box-shadow: none;
	border-radius: 6px;
	cursor: pointer;
}
.btn-primary, 
.btn-primary:hover,
.btn-primary:focus {
	background-image: none;
	border: none;
}
.btn-search-input {
	border: 1px solid #dbdbdb;
	border-radius: 0;
	border-left: none;
}
#searchInput:focus+.input-group-btn>.btn-search-input {
	border: 1px solid #555758;
	border-left: none;
	color: #01295c;
}
#searchInput {
	color: #555758;
}

/* Table of Contents */
#tweekiTOC .toctitle h2{
	color: #454647;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
}
#tweekiTOC #toc .nav > li.toclevel-1 > a {
	color: #01295c;
	font-size: 15px;
	font-weight: 500;
}
#tweekiTOC #toc .nav > li.toclevel-1 > a:hover {
	color: #01295c;
	background-color: transparent;
	cursor: pointer;
}
#tweekiTOC #toc .nav > li.toclevel-2 > a {
	color: #284472;
	font-size: 14px;
	font-weight: normal;
}
#tweekiTOC #toc .nav > li.toclevel-2 > a:hover {
	color: #284472;
	background-color: transparent;
	cursor: pointer;
}
#tweekiTOC #toc .nav > li.toclevel-3 > a {
	color: #44638e;
	font-weight: normal;
}
#tweekiTOC #toc .nav > li.toclevel-3 > a:hover {
	color: #44638e;
	background-color: transparent;
	cursor: pointer;
}
#tweekiTOC #toc li.active > a {
    border-left: 2px solid #01295c !important;
}

/* Edit Button */
#ca-edit.btn .glyphicon {
	left: -5px;
}

/* Sidebar left */
.sidebar-left-wrapper {
	position: absolute;
	background: white;
}
@media screen and (max-width: 992px) {
	.sidebar-left-wrapper { position: initial; }
}
#sidebar-left {
	background: white;
}
#sidebar-left .dropdown-toggle {
	font-size: 16px;
	font-weight: 600;
	color: #454647;
}
#sidebar-left .dropdown-toggle:hover {
	text-decoration: none;
	cursor: default;
}
#sidebar-left .dropdown-toggle .caret {
	display: none;
}
#sidebar-left .dropdown-menu {
	position: initial;
	display: block;
	border: none;
	box-shadow: none;
}
#sidebar-left .dropdown-menu > li > a {
	font-size: 14px;
	font-weight: normal;
	color: #298596;
}
#sidebar-left .dropdown-menu > li > a:hover {
	background: none !important;
	text-decoration: underline;
}

/* Default wiki buttons and inputs */
.oo-ui-buttonElement-framed.oo-ui-widget-enabled.oo-ui-flaggedElement-primary.oo-ui-flaggedElement-progressive > .oo-ui-buttonElement-button{
	color: #fff;
	background-color: #298596;
	border-color: #298596;
	font-weight: normal;
	border-radius: 6px;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled input:focus, .oo-ui-textInputWidget.oo-ui-widget-enabled textarea,
.oo-ui-textInputWidget.oo-ui-widget-enabled input:focus, .oo-ui-textInputWidget.oo-ui-widget-enabled textarea:hover {
    border-color: #cbcbcb;
}
.oo-ui-textInputWidget.oo-ui-widget-enabled input:focus, .oo-ui-textInputWidget.oo-ui-widget-enabled textarea:focus,
.oo-ui-textInputWidget.oo-ui-widget-enabled input:focus, .oo-ui-textInputWidget.oo-ui-widget-enabled textarea:active {
    outline: 0;
    border-color: #555758;
    box-shadow: none;
}
.suggestions-result {
	font-size: 1.2em;
}
.suggestions-special {
	padding: 0.3em 1em;
}

/* Tables */
div.table-container {
	overflow-x: auto;
	display: block;
	margin-bottom: 2em;
}
div.table-container table.wikitable {
	margin-bottom: 0;;
}

table.wikitable {
	background: white;
	color: #454647;
	font-size: 1.3rem;
	margin: 2em auto;
	border: none;
	border-collapse: collapse;
}
table.wikitable > * > tr > td {
	border: none;
    padding: 0.8em 1em;
	border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
table.wikitable > * > tr > th {
	border: none;
	padding: 0.8em 1em;
	font-weight: 600;
	color: #555758;
	border-top: none;
	border-bottom: 1px solid #cbcbcb;
	border-left: none;
	border-right: none;
	background: none;
}
table.wikitable > caption {
    font-weight: bold;
    color: #555758;
    text-align: center;
}

/* Home Panel */
.home-panel {
    box-shadow: none;
    border: none;
}
.home-panel .panel-heading {
    border: none;
    background: #298596 !important;
    color: white !important;
    font-weight: bold;
	font-size: 16px;
}
.home-panel .panel-body {
	padding: 24px;
	border: none;
	background: #4ea2ad;
	color: white;
	font-size: 30px;
	height: 138px;
}
.home-panel .panel-body pre {
    background: none;
    border: none;
    color: white;
    font-size: 34px;
    text-align: center;
    padding: 0;
}
.home-panel .panel-body pre .fa {
	margin-left: calc(-50% + 14px);
}
.home-panel .list-group {
	border: none;
    background: #f2f2f2;
	padding: 10px !important;
	box-shadow: none;
}
.home-panel .list-group .list-group-item {
    border: none;
    background: transparent;
    text-align: left;
    font-size: 12px;
    font-weight: 600;
	padding: 2px 15px;
}
.home-panel .list-group .list-group-item::before {
	content: '';
	padding-right: 0;
}

/* Footer */
#footer.footer {
	background-color: #454647;
	color: white;	
}
#footer.footer a {
	color: white;
}
#footer.footer a:hover,
#footer.footer a:focus,
#footer.footer a:active {
	color: white;
	text-decoration: underline;
}
